# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

In [4]:
# Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- list of Data scientce tools
- list of data science library
- examples of some arithmetic opearions

In [ ]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

In [9]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. pandas
3. Matplotlib
4. seaborn
5. PyTorch
6. Scikit-learn
7. Tensor-flow
8. Keras

In [10]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook|
| R studio |
| VS code|

In [11]:
# Create a markdown cell introducing arithmetic expression examples

Arithmetic operations examples mentioned below:

Addition -- adding 2 numbers

In [12]:
2+2

4

subtraction ---

In [13]:
5-2

3

Division -- Dividing one number by another

In [14]:
8 / 2

4.0

In [15]:
# Exercise 8 - Create a code cell to multiply and add numbers

 This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

In [17]:
# Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [18]:
200 / 60

3.3333333333333335

In [19]:
# Exercise 10 - Insert a markdown cell to list Objectives

In [20]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

# Author's name 
Neha Chaturvedi